* {
  margin: 0;
  padding: 0;
}

.root {
  background-color: #eef8f8;
}

.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}

.css-1xez8po-MuiPaper-root-MuiCard-root:hover {
  box-shadow: 10px 10px 2px 1px rgb(250, 192, 97);
  /* box-shadow: 12px 12px 2px 1px #A5CAE3; */
}

.css-1xez8po-MuiPaper-root-MuiCard-root {
  margin: 0.75rem;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: rgb(250, 192, 97);
}

.topImg {
  width: 100%;
  height: auto;
}

.homeBox {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem;
}
h1 {
  text-decoration: underline rgb(250, 192, 97) 8px;
}

#back {
  background-color: #a5cae3;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2%;
  margin-left: 2%;
}

#back:hover {
  background-color: #fac061;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}
#resetAll, .submit-btn{
  background-color: #a5cae3;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 2%;
  width: 30%;
}

#resetAll:hover {
  background-color: #fac061;
}

#veganSwitch {
  margin-top: 2%;
  margin-left: -10%;
}

#VeganParagraph {
  margin-top: -5%;
  margin-left: 10%;
}
#container{
  min-height: '100vh';
}
.sign-up{
  max-width: 40em;
  text-align: center;
  align-self: center;
  margin-inline: 30%;
  margin-top: 3em;
}