* {
  margin: 0;
  padding: 0;
}

.root {
  background-color: #eef8f8;
}

.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}

.css-1xez8po-MuiPaper-root-MuiCard-root:hover {
  box-shadow: 10px 10px 2px 1px rgb(250, 192, 97);
  /* box-shadow: 12px 12px 2px 1px #A5CAE3; */
}

.css-1xez8po-MuiPaper-root-MuiCard-root {
  margin: 0.75rem;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: rgb(250, 192, 97);
}

.topImg {
  width: 100%;
  height: auto;
}

.homeBox {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem;
}
h1 {
  text-decoration: underline rgb(250, 192, 97) 8px;
}

#back {
  background-color: #a5cae3;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#back:hover {
  background-color: #fac061;
}
